.home-section {
    margin-top: 5rem;
    position: relative;
}
.home-section .name {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.home-section .under {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-section .home-para {
    width: 300px;
    text-align: center;
}
.home-section .cv-dark-button {
    background-color: #FAFAFA;
    color: #011933;
    padding: .7rem 1.4rem;
    margin-top: 2rem;
}
.home-section .cv-dark-button:hover {
    background-color: transparent;
    color: #FAFAFA;
    border: 2px inset #FAFAFA;
}
.home-section .cv-light-button {
    background-color: #011933;
    color: #FAFAFA;
    padding: .7rem 1.4rem;
    margin-top: 2rem;
}
.home-section .cv-light-button:hover {
    background-color: transparent;
    color: #011933;
    border: 2px inset #011933;
}
@media (max-width: 768px) {
    .home-section .name {
        font-size: 1.5rem;
    } 
    .homer {
        width: 100vw;
    }
}