:root {
    --white: #fafafa;
    --black: #240750;
  }


header {
  position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    padding: 1rem;
    top: 0%;
    z-index: 99;
    position: sticky;
    border-bottom: 2px solid black;
}
li{
    list-style-type: none;
}

header button {
    cursor: pointer;
    padding: .75rem 1rem;
    border-radius: 100px;
    background-color: #fafafa;
    border: 2px solid #240750;
}
header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav {
    position: fixed;
    left: 42%;
    bottom: -4%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    max-width: 400px;
    border-radius: 5px 5px 25px 25px;
    z-index: 999;
  }
  
  .nav [type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .nav [type="checkbox"] + label {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    background: var(--white);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
    color: var(--black);
  }
  .nav-light [type="checkbox"] + label {
    background: var(--black);
    color: var(--white);
  }

  .menu li {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
  }
  
  .menu li:nth-child(1) {
    transition-delay: 0.2s;
  }
  
  .menu li:nth-child(2) {
    transition-delay: 0.15s;
  }
  
  .menu li:nth-child(3) {
    transition-delay: 0.1s;
  }
  
  .menu li:nth-child(4) {
    transition-delay: 0.05s;
  }
  
  .menu li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
  }
  .menu-light li a {
    background: var(--black);
  }
  .menu-light i {
    color: var(--white);
  }
  .menu li a span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 5px));
    width: 100%;
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: var(--white);
    font-weight: bold;
  }
  .menu-light li a span {
    color: var(--black);
  }
  
  .nav input:checked + label {
    transform: translateY(calc(-50% + 4px));
  }
  
  .nav input:checked ~ .menu li:nth-child(1) {
    top: -210px;
    transition-delay: 0.1s;
  }
  
  .nav input:checked ~ .menu li:nth-child(2) {
    top: -160px;
    left: calc(50% - 75px);
    transition-delay: 0.2s;
  }
  
  .nav input:checked ~ .menu li:nth-child(3) {
    top: -160px;
    left: calc(50% + 75px);
    transition-delay: 0.3s;
  }
  
  .nav input:checked ~ .menu li:nth-child(4) {
    top: -110px;
    transition-delay: 0.4s;
  }
  .nav input:checked ~ .menu li a span {
    opacity: 1;
    transition-delay: 0.9s;
  }
  .desktop-nav {
    display: none;
  }
@media (min-width: 1000px) {
  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
  }
    header {
        gap: 0rem;
    }
    .nav {
      display: none;
    }
}
